{% extends 'admin/adminindex.html' %}
{% block body %}
<body>
<ul>
    <li>
        <a href="/view_doctor">View Doctor</a>
    </li>
    <li>
        <a href="/approved">Approved Doctor</a>
    </li>
    <li>
        <a href="/disease">Add Diseases</a>
    </li>

    <li>
        <a href="/view_disease">View Disease</a>
    </li>
{#    <li>#}
{#        <a href="/symptom2">Symptom Management</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/view_symptom">View Symptom</a>#}
{#    </li>#}
    <li>
        <a href="/user">View User</a>
    </li>
    <li>
        <a href="/feedback">View Feedback</a>
    </li>
    <li>
        <a href="/review">View Review</a>
    </li>

</ul>
</body>
{% endblock %}