{% extends 'admin/adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered table-hover table-striped">
    <tr class="table-primary">
      <th width="290">Sl.No</th>
      <th width="290">Symptom</th>
        <th></th>
        <th></th>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.Symptoms }}</td>
      <td><a href="/delete_symptom/{{ i.Symptom_id }}" ONCLICK="return confirm('Are You Sure?')" class="btn btn-danger">Delete</a></td>
      <td><a href="/edit_symptom/{{ i.Symptom_id }}" class="btn btn-success">Edit</a></td>


    </tr>
       {% endfor %}
  </table>
</form>
</body>
{% endblock %}
