<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<ul>
    <li>
        <a href="/view_profile">View Profile</a>
    </li>
    <li>
        <a href="/changepassword">Change Password</a>
    </li>
    <li>
        <a href="/dr_viewdisease">View Disease</a>
    </li>
    <li>
        <a href="">Predict Disease Using Image</a>
    </li>

    <li>
        <a href="">Predict Disease Using Symptom</a>
    </li>
    <li>
        <a href="/add_schedule">Add schedule</a>
    </li>
    <li>
        <a href="/schedule_manage">Schedule management</a>
    </li>
    <li>
        <a href="/view_appointment">View patient appointment</a>
    </li>
    <li>
        <a href="">Chatting with patient</a>
    </li>
    <li>
        <a href="/view_review">View reviews</a>
    </li>

</ul>
</body>
</html>