<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="250" border="1">
    <tr>
      <td width="174">Disease name</td>
      <td width="60"><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
        <input type="file" name="fileField" id="fileField" />
      </label></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td>Symptom</td>
      <td><textarea name="textarea2" id="textarea2" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td height="15" colspan="2"><label>Type
          <select name="select" id="select">
            <option>Cure by yourself</option>
            <option>Severe</option>
          </select>
      </label>
      
      </td>
    </tr>
    <tr>
      <td colspan="2"><input type="Submit" name="button" id="button" value="Add" /></td>
    </tr>
  </table>
</form>
</body>
</html>
