<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
{#<title>Creative triplet Form a Responsive Widget Template :: w3layouts</title>#}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Creative triplet Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<!-- Font-awesome-CSS --> <link href="/static/doctorreg/css/font-awesome.css" rel="stylesheet">
<link href="/static/doctorreg/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- //web font -->
</head>
<body>
<h1></h1>

<div class="main-agileits">

<!--Login-form-stars-here-->
		<div class="left-form-w3-agile" style="height:.02px">

		<div class="login-form-w3-agile">
{#			<h3 class="heading-w3-agile">Login</h3>#}
{#								<form action="#" method="post">#}
{#								<div class="inputs-w3ls">#}
{#									<p>Email</p>#}
{#									<i class="fa fa-envelope" aria-hidden="true"></i>#}
{#									<input type="email" class="email" name="Email" placeholder="" required=""/>#}
{#								</div>#}
{#								<div class="inputs-w3ls">#}
{#									<p>Password</p>#}
{#									<i class="fa fa-unlock-alt" aria-hidden="true"></i>#}
{#									<input type="password" class="password" name="Password" placeholder="" required=""/>#}
{#								</div>#}
{#									<div class="wthree-text"> #}
{#										<ul> #}
{#											<li>#}
{#												<label class="anim">#}
{#													<input type="checkbox" class="checkbox">#}
{#													<span> Remember me ?</span> #}
{#												</label> #}
{#											</li>#}
{#											<li> <a href="#">Forgot password?</a> </li>#}
{#										</ul>#}
{#										<div class="clear"> </div>#}
{#									</div>  #}
{#											<input type="submit" value="LOGIN"> #}
{#								</form>#}
								</div>
		</div>
<!--//Login-form-ends-here-->

<!--Signup-form-ends-here-->
<div class="container">
		<div class="right-map-w3-agile">
		<div class="new-account-form">
		<h2 class="heading-w3-agile">create a new account</h2>
			<form action="/signup_post" method="post" enctype="multipart/form-data">
			<div class="inputs-w3ls">
				<p>Name</p>
				<i class="fa fa-user" aria-hidden="true"></i>
					<input type="text" class="name" name="textfield3" placeholder="" required=""/>
			</div>
			<div class="inputs-w3ls">
				<p>Email</p>
				<i class="fa fa-envelope" aria-hidden="true"></i>
					<input type="email" class="email" name="textfield2" placeholder="" required=""/>
			</div>
                <div class="inputs-w3ls">
				<p>Phone Number</p>
				<i class="fa fa-phone"  aria-hidden="true"></i>
					<input type="text" class="text" name="textfield" placeholder="" required=""/>
			</div>
                 <div class="inputs-w3ls">
				<p>Photo </p>

					<input type="file" class="text" name="photo" placeholder="" required=""/>
                     <br>
                     <br>
			</div>
                <div class="inputs-w3ls">
				<p>Qualification</p>
				<i class="fa fa-graduation-cap" aria-hidden="true"></i>
					<input type="text" class="text" name="textfield4" placeholder="" required=""/>
			</div>
                <div class="inputs-w3ls">
				<p>Gender</p>

					<select name="RadioGroup1" placeholder="" required="" class="form-control">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                    </select>
                </div>
                <br>

                <div class="inputs-w3ls">
				<p>Experience</p>
				<i class="fa fa-address-card" aria-hidden="true"></i>
					<input type="text" class="text" name="textfield5" placeholder="" required=""/>
			</div>
                <div class="inputs-w3ls">
				<p>Place</p>
				<i class="fa fa-envelope" aria-hidden="true"></i>
					<input type="text" class="text" name="textfield6" placeholder="" required=""/>
			</div>
			<div class="inputs-w3ls">
				<p>Password</p>
				<i class="fa fa-unlock-alt" aria-hidden="true"></i>
					<input type="password" class="password" name="textfield7" placeholder="" required=""/>
			</div>
			<div class="inputs-w3ls">
				<p>Confirm Password</p>
				<i class="fa fa-unlock-alt" aria-hidden="true"></i>
					<input type="password" class="password" name="textfield8" placeholder="" required=""/>
			</div>		
					<label class="anim">
					<input type="checkbox" class="checkbox">
						<span> I accept the terms of use</span> 
					</label> 
						<input type="submit" value="Signup">  
			</form> 
		</div>
		</div>
</div>


<!--//welcome-form-stars-here-->

<!-- copyright -->

	<!-- //copyright --> 
</body>
</html>